.l-header__menu-list,
.l-header__sns-list {
  display: none;
}

.l-header {
  position: sticky;
  inset-block-start: 0;
  background-color: var(--color-grayscale-0);
  z-index: var(--default-z-index);
}

.l-header__inner {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto 1fr;
  place-items: center end;
  padding-inline-start: 15px;
}

.l-header__logo {
  max-inline-size: 174px;
}

.l-drawer {
  position: fixed;
  inset: 0;
  block-size: 100%;
  background-color: var(--color-grayscale-0);
  z-index: var(--menu-z-index);
  visibility: hidden;
  opacity: 0;
}

.l-drawer[data-active='true'] {
  visibility: visible;
  opacity: 1;
}

.l-drawer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 15px;
}

.l-drawer__logo {
  max-inline-size: 174px;
}

.l-drawer__close-button-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  inline-size: 40px;
  aspect-ratio: 1;
  background-color: var(--color-bluescale-200);
}

.l-drawer__close-button {
  display: inline-grid;
  place-items: center;
  grid-template-areas: 'stack';
  block-size: 16px;
  aspect-ratio: 1;
  color: var(--color-grayscale-0);
}

.l-drawer__close-button::before,
.l-drawer__close-button::after {
  content: '';
  grid-area: stack;
  inline-size: 16px;
  border-block-end: 1px solid;
}

.l-drawer__close-button::before {
  rotate: 45deg;
}

.l-drawer__close-button::after {
  rotate: -45deg;
}

.l-drawer__menu-link {
  display: inline grid;
  grid-template-columns: auto 1fr;
  column-gap: 1cap;
  align-items: center;
  inline-size: 100%;
  padding: 14px 23px;
  border-block-end: 1px solid var(--color-grayscale-100);
  color: var(--color-bluescale-200);
}

.l-drawer__menu-link::after {
  content: '';
  justify-self: end;
  inline-size: 1em;
  aspect-ratio: 1;
  background: var(--right-triangle) no-repeat center / contain;
}

.l-drawer__bottom {
  display: grid;
  row-gap: 20px;
  padding: 37px calc(15 * var(--fluid-ratio-min)) 15px;
}

.l-drawer__external-link {
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 1cap;
  align-items: center;
  color: var(--color-bluescale-200);
  font-size: calc(13 * var(--rem-ratio));
}

.l-drawer__external-link::before {
  content: '';
}

.l-drawer__external-link::after {
  content: '';
  justify-self: end;
  inline-size: 1em;
  aspect-ratio: 1;
  background: var(--link-icon) no-repeat center / contain;
}

.l-drawer__external {
  text-align: center;
}

.l-drawer__sns-list {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  inline-size: fit-content;
  margin-inline: auto;
}

.l-drawer__sns-item {
  max-inline-size: 27px;
}

.l-drawer__copy {
  inline-size: fit-content;
  margin-inline: auto;
  color: var(--color-bluescale-200);
  font-size: calc(10 * var(--rem-ratio));
  font-weight: var(--font-medium);
}

.l-header__hamburger {
  display: grid;
  grid-template-areas: 'hamburger';
  align-items: center;
  justify-content: center;
  inline-size: 40px;
  aspect-ratio: 1;
  background-color: var(--color-bluescale-200);
}

.l-hamburger {
  grid-area: hamburger;
  position: relative;
  display: grid;
  place-items: center;
  inline-size: 22px;
  border: unset;
  aspect-ratio: 1;
}

.l-hamburger__line {
  position: relative;
  inline-size: 100%;
  border-block-end: 1px solid var(--color-grayscale-0);
  writing-mode: initial;
}

.l-hamburger__line::before,
.l-hamburger__line::after {
  content: '';
  position: absolute;
  inset: 0;
  border-block-end: 1px solid var(--color-grayscale-0);
  transition: translate var(--speed-quick);
}

.l-hamburger__line::before {
  translate: 0 -8px;
}

.l-hamburger__line::after {
  translate: 0 8px;
}

@media only screen and (min-width: 1024px) {
  .l-header__menu-list,
  .l-header__sns-list {
    display: grid;
  }

  .l-drawer,
  .l-header__hamburger {
    display: none;
  }

  .l-header__sns-list {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    inline-size: fit-content;
    margin-inline: auto;
  }

  .l-header__sns-item {
    max-inline-size: 27px;
  }

  .l-header__menu-link {
    color: var(--color-bluescale-200);
    font-size: calc(14 * var(--rem-ratio));
  }

  .l-header__menu-list {
    grid-auto-flow: column;
    column-gap: 35px;
  }

  .l-header__inner {
    column-gap: 22px;
    padding: 18px calc(22 * var(--fluid-ratio-max));
  }

  .l-header__logo {
    max-inline-size: 252px;
  }
}
